# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.env

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
node_modules/
public/lib/
app/tests/coverage/
.bower-*/
.idea/
coverage/
.coveralls.yml
package-lock.json
client/package-lock.json